*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


/* nav */

/* .cabecera{
 display: flex; 
    /* background-color: aqua; 
} */
/* ESTILOS DE LA CABECERA */
.menu nav {
    background-color: black;
    display: flex;   
}

/* Aqui se pone el estilo a la etiqueta p del nav PORTFOLIO */
.menu nav p{
    color: white;
    /* text-align: right; */
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    background-color: bl;
    margin: 15px;
    flex: auto;
    padding-top: 10px;
    margin-left: 4em;
}

/* Aqui se pone el estilo a la lista del nav NAVEGACION */
.menu nav ul{
    /* background-color: bisque; */
    list-style: none;
    display: inline-block;
    padding: 10px;
    flex: auto;
}

.menu nav ul li {
    float: right;
    margin-top: 12px;

}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 18px;
}

.menu nav ul li a:hover{
    color: aquamarine;
    font-size: 21px;
}

/* PRESENTACION */
/* .cuerpo{
    background-color: bisque;
} */

/* Foto y descripcion */

.cuerpo .presentacion{
    display: flex;
    margin: 2em;
    background-color: azure;
}

/* DESCRIPCION */

.cuerpo .presentacion .presentacion-texto{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo .presentacion .presentacion-texto p{
    padding-left: 150px;
    padding-right: 150px; /* 16 px */
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* text-shadow: 10px 10px 10px red;     Sombra al texto */
    /* letter-spacing: 1px; Espacion entre letras*/
}

/* FOTO */
/*Imagen presentacion*/
.cuerpo .presentacion .presentacion-foto{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo .presentacion .presentacion-foto{
    height: 20em;
    width: 20em;
    margin: 2em;
}

.cuerpo .presentacion .presentacion-foto img {
    max-width: 100%;
    max-height: 100%;
    border-radius:18px;
}

.cuerpo .habilidades .actitudes{
    
}

.cuerpo .habilidades .tecnologias .p-h-tecnologias{
    display: flex;
}

.cuerpo .proyectos ul{
    display: flex;
}

.cuerpo .trayectoria ul{
    display: flex;
}

footer .contactos ul{
    display: flex;
}
